
//--- IMPORT ---------------------------------//
@import "resources/assets/sass/hexi-flexi-grid";


//--- TEMPLATE -------------------------------//
#myHexGrid {
//--- SETTINGS -------------- VALUES ---------//
  $gridWidth:  70em;       // 'auto',(px,pt,r/em,vw/h)
  $gridHeight: auto;       // 'auto',(px,pt,r/em,vw/h)
  $columnCount: 7;          // 'auto',(number)
  $rowCount:    4;          // 'auto',(number)
  $hexCount:    auto;       // 'auto',(number)
  $hexLayout:   row;        // 'row','column','strict'
  $gridOrient:  vertical;   // 'vertical','horizontal'
  $crop:        none;       // 'none','crop'
  $cropFactor:  1;          // (number)
  $hexContent:  auto;       // 'auto','center'
  $hexSize:     200px;       // 'auto',(px,pt,r/em,vw/h)
  $hexMargin:   4px;      // (px,pt,r/em,vw/h)
  $hexShape:    hexagon;    // 'hexagon','circle'
  $hexColor: rgba(255, 255, 255, 0.35);    // hexcode,rgb/a,named
  $images:      none;
//--- MIXINS ---------------------------------//
  @include hexWrapper($gridWidth,$gridHeight,
    $gridOrient,$rowCount,$columnCount);
  .hexCrop {@include hexCrop($crop,$cropFactor)}
  .hexGrid {@include hexContainer($gridWidth,$gridHeight,
    $gridOrient,$columnCount, $images,$rowCount,
    $hexLayout,$hexContent,$hexShape,$hexColor,
    $hexMargin,$hexCount,$hexSize)}
//--- CUSTOM STYLES --------------------------//




//--------------------------------------------//
}
