body {
  background-color: #29eaea;
  //background-color: #eaad13;
  font-family: vazir;
  overflow-y: hidden;
}

@import "resources/assets/sass/hex-style.scss";
$afsane-font-path: "../fonts";
@font-face {
  font-family: 'afsane';
  src: url('#{$afsane-font-path}/AAfsaneh.ttf') format('truetype'); /* Safari, Android, iOS */
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(26, 226, 241, 0.47);
  z-index: 50;

}
.hexGrid{
  margin:5px 0px !important;
}

.hover-able-hex{
  transition: 0.1s;
  font-size: 1.5em;
  color: rgb(177, 26, 59);
  background: rgba(255, 255, 255, 0.77) !important;
  z-index: 2200;

}
.hover-able-hex:hover{
  cursor: pointer;
  color: #ffffff;
  background: rgba(253, 25, 80, 0.87) !important;
}


#myHexGrid{
  //position: absolute;
}

#hex3 {
  z-index: 100;
  position: relative;
  bottom: 465px;
  width: 250px;
  height: 250px;
  transform: rotate(90deg);
}

#color1 {
  background-color: #ffffff;
}

.main-hexagon-wrapper {
  text-align: center;
  z-index: 51;
  position: fixed;
  bottom:50%;
  right: 0;
  display: inline-block;
  transform: rotate(60deg);
}

.main-hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;

}

.main-hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}

.main-hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}

//
//@media (min-width: 576px) {
//  body {
//    background-color: #740528;
//  }
//  #myHexGrid {
//    height: 28.30909091em;
//    width: 40em;
//  }
//  #myHexGrid .hexGrid {
//    height: 28.30909091em;
//    width: 40em;
//    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
//    grid-template-rows: repeat(9, 3.14545455em);
//  }
//}
.logo{
  z-index: 1200;
  height: 144px;
  width: 271px;
  position: relative;
  transform: rotate(-90deg);
  top: 50px;
  right: 60% ;
}
.slogan{
  position: fixed;
  top: 180px;
  right: 37%;
  color: #eb2a6d;
  font-family: afsane;
  font-size: 3vw;
  z-index: 1200;
}
@media (min-width: 0px) {

  #myHexGrid {
    visibility: visible;
    height: 14.15454545em;
    width: 20em;
  }
  #myHexGrid .hexGrid {
    height: 14.15454545em;
    width: 20em;
    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
    grid-template-rows: repeat(9, 1.57272727em);
  }
  .logo {
    height: 36px;
    width: 67.5px;
    top: 17px;
    right: 40%;
  }
  #hex3 {
    bottom: 115px;
    width: 70px;
    height: 70px;
  }
  #background {
    height: 148px;
  }
  .slogan {
    top: 80px;
  }
  .hover-able-hex{
    font-size: 0.8em;
  }
}

@media (min-width: 576px) {

  #myHexGrid {
    visibility: visible ;
    height: 24.77045455em;
    width: 35em;
  }
  #myHexGrid .hexGrid {
    height: 24.77045455em;
    width: 35em;
    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
    grid-template-rows: repeat(9, 2.75227273em);
  }
  .logo{
    height: 72px;
    width: 135px;
    top: 34px;
    right: 40% ;
  }
  #hex3 {
    bottom: 230px;
    width: 140px;
    height: 140px;
  }
  #background{
    height: 214px;
  }
  .slogan{
    top: 100px;
  }
  .hover-able-hex{
    font-size: 1.2em;
  }

}
@media (min-width: 768px) {
  #myHexGrid {
    visibility: visible ;
    height: 35.38636364em;
    width: 50em;
  }
  #myHexGrid .hexGrid {
    height: 35.38636364em;
    width: 50em;
    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
    grid-template-rows: repeat(9, 3.93181818em);
  }
  .logo{
    height: 96px;
    width: 180px;
    top: 38px;
    right: 50% ;
  }
  #hex3 {
    bottom: 313px;
    width: 170px;
    height: 170px;
  }
  #background{
    height: 282px;
  }
  .slogan{
    top: 120px;
  }
}
@media (min-width: 992px) {
  #myHexGrid {
    visibility: visible ;
    height: 46.00227273em;
    width: 65em;
  }
  #myHexGrid .hexGrid {
    height: 46.00227273em;
    width: 65em;
    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
    grid-template-rows: repeat(9, 5.11136364em);
  }
  .logo{
    height: 124.8px;
    width: 234px;
    top: 43px;
    right: 55% ;
  }
  #hex3 {
    bottom: 415px;
    width: 220px;
    height: 220px;
  }
  #background {
    height: 350px;
  }
  .slogan{
    top: 150px !important;
  }

}
@media (min-width: 1200px) {
  #myHexGrid {
    visibility: visible ;
    height: 49.54090909em;
    width: 70em;
  }
  #myHexGrid .hexGrid {
    height: 49.54090909em;
    width: 70em;
    grid-template-columns: repeat(7, 1fr 2fr) 1fr;
    grid-template-rows: repeat(9, 5.50454545em);
  }
  .logo{
    height: 144px;
    width: 271px;
    top: 50px;
    right: 60% ;
  }
  #hex3 {
    bottom: 465px;
    width: 250px;
    height: 250px;
  }
  #background{
    height: 372px;
  }
}
.first-page-links{
  font-size: 1.3em;
}
.home-list-item-wrapper {
  line-height: 1.5em;
  list-style-type: none;

}
.home-page-links{
  text-decoration: none !important;
  color: #5e5e5e;
}
.home-page-links:hover{
  color: #fd1950;
}
.list-item-image{
  height: 30px;
  width: 30px;
}