#user-information{

}
.custom-table{
  background: rgb(97, 97, 97);
}

.admin-finance-card-income:hover{
  background: rgba(38, 255, 56, 0.38) !important;
}

.admin-finance-card-pay:hover{
  background: rgba(253, 25, 80, 0.41) !important;
  //color: #fff;
  //.academisto-brand{
  //    color: #616161;
  //}
}
.admin-finance-price{
  font-family: vazir-fd;
  font-size: 2.5em;
}
.farsi-digits{
  font-family: vazir-fd;

}

#admin-finance{ table {
  border-collapse:separate;
  border-spacing: 0 0.1em;
}
}
.admin-chat-view-user-header{
  background: #303030;
  color: #dfdfdf;
  text-align: center;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}
.admin-chat-view-sidebar{
  height: 548px;
  padding: 0;
  overflow-y: scroll;
  direction: ltr;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.admin-chat-view-user{
  color: rgb(251, 251, 251) !important;
}
.admin-chat-view-user-img{
  font-size: 2.0em;
}
.admin-chat-view-user-name{
  font-size: 1.1em;
}