.custom-table {
  background: #616161;
}

.admin-finance-card-income:hover {
  background: rgba(38, 255, 56, 0.38) !important;
}

.admin-finance-card-pay:hover {
  background: rgba(253, 25, 80, 0.41) !important;
}

.admin-finance-price {
  font-family: vazir-fd;
  font-size: 2.5em;
}

.farsi-digits {
  font-family: vazir-fd;
}

#admin-finance table {
  border-collapse: separate;
  border-spacing: 0 0.1em;
}

.admin-chat-view-user-header {
  background: #303030;
  color: #dfdfdf;
  text-align: center;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem;
}

.admin-chat-view-sidebar {
  height: 520px;
  padding: 0;
  overflow-y: scroll;
  direction: ltr;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.admin-chat-view-user {
  color: #fbfbfb !important;
}

.admin-chat-view-user-img {
  font-size: 2.0em;
}

.admin-chat-view-user-name {
  font-size: 1.1em;
}

#admin-user-card-nav .form-control:hover {
  color: #fd1950 !important;
  cursor: pointer;
  border: 0px solid #1d2124 !important;
}

#admin-user-card-nav .form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#admin-user-card-nav li:hover {
  border: 0px solid #1d2124 !important;
}

#admin-projects .card {
  min-height: 325px;
}

#admin-orders .card {
  min-height: 310px;
  width: 400px !important;
}

#admin-card-requests .card {
  min-height: 310px;
  width: 400px !important;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #fd1950;
  border-radius: 50%;
  display: inline-block;
  z-index: 2000;
}
