@charset "UTF-8";
@font-face {
  font-family: 'vazir';
  src: url("../fonts/vazir/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("../fonts/vazir/Vazir.woff2") format("woff2"), url("../fonts/vazir/Vazir.woff") format("woff"), url("../fonts/vazir/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'vazir-fd';
  src: url("../fonts/Farsi-Digits/Vazir-FD.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Farsi-Digits/Vazir-FD.woff2") format("woff2"), url("../fonts/Farsi-Digits/Vazir-FD.woff") format("woff"), url("../fonts/Farsi-Digits/Vazir-FD.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: 'afsane';
  src: url("../fonts/AAfsaneh.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  background-color: #29eaea;
  font-family: vazir;
  background-color: #29eaea;
}

#grid {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  /* Clears unordered list default of 40px */
}

.containerr {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #1ae2f1;
}

.academisto-brand {
  color: #ED1C66;
}

.fixed-links {
  list-style-type: none;
  padding: -15px;
  margin-right: 10px;
}

.fixed-links li {
  list-style-image: url("../img/list-item.png");
  color: #ed1c66;
}

.fixed-links li a {
  display: inline-block;
  height: 50px;
  padding-right: 10px;
  padding-top: -20px;
  vertical-align: 35%;
  color: #ed1c66;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
}

.fixed-links li a:hover {
  color: #491424;
}

.testt {
  color: #ed1c66 !important;
  font-size: 1.5em;
}

.form-check {
  margin-right: 15px;
}

/* equal card height */
.row-equal > div[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.row-equal .card {
  width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner > .row-equal.active.left,
.carousel-inner > .row-equal.active.right {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-read-more {
  cursor: pointer;
}

.btn-read-more:hover {
  color: #065a74 !important;
}

#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
  height: 42px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#summary p.collapsing {
  min-height: 42px !important;
}

#summary a.collapsed:after {
  content: '+ \628\6CC\634\62A\631';
}

#summary a:not(.collapsed):after {
  content: '- \6A9\645\62A\631';
}

.list-group-item {
  font-size: 0.8em;
}

.card-info {
  font-size: 0.8em;
}

#project_card.card {
  border: 2px #1c7430 solid;
}

#orders.alert {
  height: 2em !important;
  vertical-align: baseline;
}

.hide {
  visibility: hidden;
}

.card-img-top {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#chat {
  height: 400px;
  overflow-y: scroll;
}

#chat .chat-view {
  border: 1px #1d2124 solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-height: 40px;
  background: #aae6b1;
}

#chat .img-chat-view {
  font-size: 1.9em;
}

.site-filer-container {
  border: 1px solid #444444;
}

.site-ads-container {
  background: rgba(247, 247, 247, 0.4);
}

#site-projects_card {
  border: 1px #bf0056 solid;
}

.card-header-icon {
  font-size: 1.4em;
  cursor: pointer;
  text-decoration: none;
}

.strong-font-size {
  font-size: 1.1em;
}

.admin-price-info {
  font-family: vazir-fd;
  border: 1px solid #bf0056;
  border-radius: 6px;
}

.admin-price-info:hover {
  background: #bf0056;
  color: #ffffff;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #ffffff;
  border-color: #dee2e6 #dee2e6 #ffffff;
}